body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: bisque;
}

.container {
  padding: 20px;
}

table,
tr,
td {
  border: 1px solid cadetblue;
}

table {
  margin-top: 20px;
}

table td {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

table td div {
  cursor: pointer;
  background: #ccc;
  font-size: 3em;
  padding: 100px 10px;
  border: 3px solid cadetblue;
  position: relative;
}

table td span {
  position: absolute;
  top: 7%;
  left: 25%;
  color: purple;
  display: none;
}

#memory-game {
  display: none;
}

#result {
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 2.7em;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -123px -356.66667px #002bff, 119px -16.66667px #ff0015, -15px -300.66667px #ff006f, 239px -382.66667px #00ddff, -137px 53.33333px #ff6600, -33px -50.66667px #00ff40, -52px -396.66667px #55ff00, -17px -281.66667px #ff007b, 65px -219.66667px #00ff95, 175px -379.66667px #f200ff, -52px -404.66667px #7300ff, 94px -248.66667px #f7ff00, -119px -25.66667px #d500ff, 29px -269.66667px #ff4d00, 164px -157.66667px #ffea00, -152px -10.66667px #ae00ff, -96px 49.33333px #ff0900, 181px -32.66667px #ff00e1, 246px -174.66667px #4800ff, 188px -173.66667px #ff0d00, -73px -46.66667px #00d9ff, -57px -181.66667px #15ff00, -10px -214.66667px #ff00fb, 189px -330.66667px #59ff00, 51px -371.66667px #00e1ff, -142px -86.66667px #6fff00, -140px -288.66667px #00ffbf, 208px 83.33333px #33ff00, -116px -392.66667px #ff2600, 76px -180.66667px #b700ff, -27px -88.66667px #22ff00, 2px -205.66667px #00ff62, -57px -283.66667px #0048ff, 164px -57.66667px #eaff00, 103px -249.66667px #ff00b3, 167px -282.66667px #5eff00, 136px -7.66667px #006aff, -4px -158.66667px #ff000d, 175px -14.66667px #bfff00, 93px -174.66667px #0d00ff, 3px -111.66667px #1100ff, -230px -83.66667px #ffd500, 1px -161.66667px #b7ff00, 150px -264.66667px #00ff62, -140px -197.66667px #ff001a, -78px -211.66667px #ff1e00, 57px -273.66667px #00ff1a, -174px -11.66667px #ff0091, -53px -362.66667px deepskyblue, -10px -88.66667px #00ff2f, -99px -25.66667px #6f00ff;
            box-shadow: -123px -356.66667px #002bff, 119px -16.66667px #ff0015, -15px -300.66667px #ff006f, 239px -382.66667px #00ddff, -137px 53.33333px #ff6600, -33px -50.66667px #00ff40, -52px -396.66667px #55ff00, -17px -281.66667px #ff007b, 65px -219.66667px #00ff95, 175px -379.66667px #f200ff, -52px -404.66667px #7300ff, 94px -248.66667px #f7ff00, -119px -25.66667px #d500ff, 29px -269.66667px #ff4d00, 164px -157.66667px #ffea00, -152px -10.66667px #ae00ff, -96px 49.33333px #ff0900, 181px -32.66667px #ff00e1, 246px -174.66667px #4800ff, 188px -173.66667px #ff0d00, -73px -46.66667px #00d9ff, -57px -181.66667px #15ff00, -10px -214.66667px #ff00fb, 189px -330.66667px #59ff00, 51px -371.66667px #00e1ff, -142px -86.66667px #6fff00, -140px -288.66667px #00ffbf, 208px 83.33333px #33ff00, -116px -392.66667px #ff2600, 76px -180.66667px #b700ff, -27px -88.66667px #22ff00, 2px -205.66667px #00ff62, -57px -283.66667px #0048ff, 164px -57.66667px #eaff00, 103px -249.66667px #ff00b3, 167px -282.66667px #5eff00, 136px -7.66667px #006aff, -4px -158.66667px #ff000d, 175px -14.66667px #bfff00, 93px -174.66667px #0d00ff, 3px -111.66667px #1100ff, -230px -83.66667px #ffd500, 1px -161.66667px #b7ff00, 150px -264.66667px #00ff62, -140px -197.66667px #ff001a, -78px -211.66667px #ff1e00, 57px -273.66667px #00ff1a, -174px -11.66667px #ff0091, -53px -362.66667px deepskyblue, -10px -88.66667px #00ff2f, -99px -25.66667px #6f00ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -123px -356.66667px #002bff, 119px -16.66667px #ff0015, -15px -300.66667px #ff006f, 239px -382.66667px #00ddff, -137px 53.33333px #ff6600, -33px -50.66667px #00ff40, -52px -396.66667px #55ff00, -17px -281.66667px #ff007b, 65px -219.66667px #00ff95, 175px -379.66667px #f200ff, -52px -404.66667px #7300ff, 94px -248.66667px #f7ff00, -119px -25.66667px #d500ff, 29px -269.66667px #ff4d00, 164px -157.66667px #ffea00, -152px -10.66667px #ae00ff, -96px 49.33333px #ff0900, 181px -32.66667px #ff00e1, 246px -174.66667px #4800ff, 188px -173.66667px #ff0d00, -73px -46.66667px #00d9ff, -57px -181.66667px #15ff00, -10px -214.66667px #ff00fb, 189px -330.66667px #59ff00, 51px -371.66667px #00e1ff, -142px -86.66667px #6fff00, -140px -288.66667px #00ffbf, 208px 83.33333px #33ff00, -116px -392.66667px #ff2600, 76px -180.66667px #b700ff, -27px -88.66667px #22ff00, 2px -205.66667px #00ff62, -57px -283.66667px #0048ff, 164px -57.66667px #eaff00, 103px -249.66667px #ff00b3, 167px -282.66667px #5eff00, 136px -7.66667px #006aff, -4px -158.66667px #ff000d, 175px -14.66667px #bfff00, 93px -174.66667px #0d00ff, 3px -111.66667px #1100ff, -230px -83.66667px #ffd500, 1px -161.66667px #b7ff00, 150px -264.66667px #00ff62, -140px -197.66667px #ff001a, -78px -211.66667px #ff1e00, 57px -273.66667px #00ff1a, -174px -11.66667px #ff0091, -53px -362.66667px deepskyblue, -10px -88.66667px #00ff2f, -99px -25.66667px #6f00ff;
            box-shadow: -123px -356.66667px #002bff, 119px -16.66667px #ff0015, -15px -300.66667px #ff006f, 239px -382.66667px #00ddff, -137px 53.33333px #ff6600, -33px -50.66667px #00ff40, -52px -396.66667px #55ff00, -17px -281.66667px #ff007b, 65px -219.66667px #00ff95, 175px -379.66667px #f200ff, -52px -404.66667px #7300ff, 94px -248.66667px #f7ff00, -119px -25.66667px #d500ff, 29px -269.66667px #ff4d00, 164px -157.66667px #ffea00, -152px -10.66667px #ae00ff, -96px 49.33333px #ff0900, 181px -32.66667px #ff00e1, 246px -174.66667px #4800ff, 188px -173.66667px #ff0d00, -73px -46.66667px #00d9ff, -57px -181.66667px #15ff00, -10px -214.66667px #ff00fb, 189px -330.66667px #59ff00, 51px -371.66667px #00e1ff, -142px -86.66667px #6fff00, -140px -288.66667px #00ffbf, 208px 83.33333px #33ff00, -116px -392.66667px #ff2600, 76px -180.66667px #b700ff, -27px -88.66667px #22ff00, 2px -205.66667px #00ff62, -57px -283.66667px #0048ff, 164px -57.66667px #eaff00, 103px -249.66667px #ff00b3, 167px -282.66667px #5eff00, 136px -7.66667px #006aff, -4px -158.66667px #ff000d, 175px -14.66667px #bfff00, 93px -174.66667px #0d00ff, 3px -111.66667px #1100ff, -230px -83.66667px #ffd500, 1px -161.66667px #b7ff00, 150px -264.66667px #00ff62, -140px -197.66667px #ff001a, -78px -211.66667px #ff1e00, 57px -273.66667px #00ff1a, -174px -11.66667px #ff0091, -53px -362.66667px deepskyblue, -10px -88.66667px #00ff2f, -99px -25.66667px #6f00ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */